@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register Confirmation";
}

@ViewData["Title"]

<p>Please check your email to confirm your account.</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}